/************* GENERAL ************/
a {
    text-decoration: none;
}

* {
    font-family: 'Vollkorn', Arial, Geneva, Helvetica, serif;
}

html {
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/************** HEADER ****************/
header {
    text-align: justify;
    letter-spacing: 0.6px;
    padding: 2em 10em;
    color: #000;
    line-height: 0.6em;
    height: 3em;
}

header #logo, #login-button,
header nav {
    display: inline-block;
}

header nav a {
    color: #4d4a4a;
}

header nav a:hover {
    color: #858080;
}

header #login-button {
    background-color: #4fb2ff;
    padding: 1em 3em 1em 3em;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

header #login-button:hover {
    background-color: #4891df;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

header #logo {
    height: 100%;
}

header #logo::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

@media screen and (max-width: 820px) {

    header {
        height: auto;
    }

    header > div,
    header > div #logo,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }

}

/********* CONTENT ********/
#content {
    width: 100%;
    min-height: calc(100vh - 7em - 4.6em);
    box-sizing: border-box;
}


/* FORM SECTION */
#id-form-section {
    width: 100%;
    text-align: center;
    margin-top: 0%;
}

#id-form-section #info {
    color: #969696;
    width: 36%;
    margin-left: 32%;
}

#id-form-section h1 {
    font-size: 1.9em;
    letter-spacing: 1px;
}


#id-form-section form {
    margin-top: 2%;
    display: inline-block;
    width: 50%;
}

#id-form-section form * {
    box-sizing: border-box;
}


/*** CHECK_PAGE ***/
/* Style the search field */
#id-form-section #check-page-form input[type=text],
#id-form-section #load-new-form input[type=text] {
    border: none;
    padding: 1.3em;
    font-size: 1.1em;
    float: left;
    width: 70%;
    display: block;
}

/* Style the search submit button */
#id-form-section form button {
    float: left;
    display: block;
    width: 13%;
    color: #969696;
    font-size: 1.6em;
    border: none;
    padding: 0.7em 0;
    background-color: #fff;
    cursor: pointer;
}

#id-form-section form::after {
    content: "";
}

#id-form-section .element {
    margin-right: 4%;
    float: left;
    display: block;
    width: 13%;
}

#id-form-section #file-input {
    display: none;
}

/************ FOOTER ************/

footer {
    flex-shrink: 0;
    background-image: linear-gradient(-90deg, #4891df, #4fb2ff);
    width: 80%;
    text-align: justify;
    letter-spacing: 0.6px;
    height: 1em;
    padding: 1.8em 10%;
    color: #000;
}

footer #copyright,
footer nav {
    display: inline-block;
}

footer nav a {
    color: #fff;
}

footer nav a:hover {
    color: #dbdbdb;
}

footer::after {
    content: '';
    display: inline-block;
    width: 100%;
}

footer #copyright {
    height: 100%;
    color: #fff;
}

footer #copyright::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


/* LOADING SCREEN */
#uploading_message_info {
    display: none;
    text-align: center;
    position: fixed;
    width: 40%;
    height: 10%;
    left: 30%;
    top: 40%;
    vertical-align: center;
    z-index: 999;
}

#uploading_screen {
    position: fixed;
    cursor: progress;
    background-color: #7b7c92;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #000000;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#form-error-block {
    width: 100%;
    text-align: center;
    color: darkred;
    float: left;
}


/* BTN */

#rec_btn {
    background-color: #f8f6f1;
    padding: 1.5% 2%;
    font-size: 260%;
    border-radius: 50%;
    margin-top: 2%;
    border: #acacac solid 2px;
}

#rec_btn:hover {
    opacity: 0.7;
}

.wait_btn {
    cursor: wait;
    opacity: 0.5;
    pointer-events: none;
}

.exe_btn {
    background-color: #b92a2a !important;
}

.exe_btn:hover {
    background: #e20000 !important;
    cursor: pointer;
}

.act_btn:hover {
    background-color: #dedede !important;
    cursor: pointer;
}

#error_field {
    color: #B22222;
    margin-top: 1%;
}


#model-select-id {
    text-align: center;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 20%;
    margin: 1% 40% 1% 40%;
    text-align-last: center;
}

#recognition_result {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
    font-size: 1.1em;
}

#recognition_result_title {
    float: left;
    width: 18%;
    text-align: right;
    padding: 1%;
    font-weight: bold;
}

#recognition_result_table {
    float: left;
    width: 90%;
    margin-left: 5%;
    text-align: left;
    padding: 1%;
}

#recognition_result_audio_title {
    float: left;
    width: 18%;
    text-align: right;
    padding: 1%;
    font-weight: bold;
}

#recognition_result_audio {
    float: left;
    width: 78%;
    text-align: left;
    padding: 1%;
}

#table_result {
    width: 100%;
}

#table_result th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#table_result .model_name {
    width: 15%;
}

#table_result .model_audio {
    width: 15%;
}

#table_result .model_text {
    width: 55%;
}

#table_result .model_time {
    width: 15%;
}

#recording-meter {
    height: 10rem;
    margin: 1rem 0;
    width: 4rem;
    position: absolute;
    display: none;
}
